<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.yinfenglu.DaysUntil</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>daysuntil</string>
			</array>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://github.com/soondubu137/days-until/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>96K9IhW5DJiBirF3OLJOTYe8ncWfISPXgElXxvDImSE=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUEnableDownloaderService</key>
	<true/>
</dict>
</plist>
